<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BabyWatch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <header>
        <p class="latestPlaceHolder">ミルク : 最終更新</p>
        <h5 id = "milkLatest">
            <%#= `${data.pop().when}  -  (${data.pop().who})` %>
        </h5>
        <p class = "latestPlaceHolder">オムツ : 最終更新</p>
        <h5 id = "diaperLatest">
            <%#= `${data.pop().when}  -  (${data.pop().who})` %>
        </h5>
    </header>
    <main>
        <button class = "actionBtns">ミルク</button>
        <input id = "milkPortion" type = "number" value = "10" step="10">
        <button class = "actionBtns">オムツ</button>
    </main>
    <footer>
        <select id="form-select">
            <option value="1">Sho</option>
            <option value="2">Non</option>
        </select>
    </footer>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">誰が</th>
                <th scope="col">何時に</th>
                <th scope="col">何をした</th>
                <th scope="col">どのくらい？(任意)</th>
            </tr>
        </thead>
        <tbody>
            <%for (let i = 0; i < data.length; i++)  {%>
            <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= data[i].who%></td>
                <td><%= data[i].when%></td>
                <td><%= data[i].what%></td>
                <td><%= data[i].how%><small>ml</small></td>
            </tr>
            <%} %> 
        </tbody>
    </table>
    <script>

        let actionBtns = document.querySelectorAll('.actionBtns');

        for(let i = 0; i < actionBtns.length; i++)
        {
            actionBtns[i].addEventListener('click',check,false);
        }

        function check(e){

            let aciton;
            let milkFlag = false;
            let ask;

            let now = new Date();
            let month = now.getMonth() + 1;
            let date = now.getDate();
            let hour = now.getHours();
            let minutes = now.getMinutes();

            let personIndex = document.getElementById("form-select").options;
            let who = personIndex[ personIndex.selectedIndex ].innerText;
            let when = `${month}%2F${date} ${hour}%3A${minutes}`.toString();
            let what = e.toElement.innerText;
            let how = document.getElementById("milkPortion").value;

            //Action 選定
            if (what == 'ミルク'){ 
                action = "あげ"
                milkFlag = true;
            }
            else { action = "替え" };

            //量が要るか判定
            if ( milkFlag == true){
                ask = confirm(`${who}さんが${what}を${month}/${date} ${hour}:${minutes}に${how}ml${action}ました。`)
            }
            else {
                ask = confirm(`${who}さんが${what}を${month}/${date} ${hour}:${minutes}に${action}ました。`)
            }

            // askの結果によるページネーション
            if (ask == false) return;

            fetch(`/api/${who}/${when}/${what}/${how}`).then(
                console.log('Checked to spreadsheet!')
            );

            //Clear Input
            document.getElementById("milkPortion").value = 10;


            // .then(response => response.text())
            // .then(data => console.log(data));
        }
    </script>
</body>
</html>