<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BabyWatch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body  class = "m-3 h-100">
    <div class = "drawer p-3">
        <button onclick="drawer()" class="btn btn-dark">ホーム</button>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">誰が</th>
                    <th scope="col">何時に</th>
                    <th scope="col">何をした</th>
                    <th scope="col">どのくらい？(任意)</th>
                </tr>
            </thead>
            <tbody>
                <%# 最新のものから表示 %>
                <%for (let i = data.length - 1; i >= 0; i--)  {%>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td><%= data[i].who%></td>
                    <td><%= data[i].when%></td>
                    <td><%= data[i].what%></td>
                    <td>
                        <% if (data[i].what == 'ミルク') { %>
                        <%=     data[i].portion%><small>ml</small>
                        <% };%>
                    </td>
                </tr>
                <%} %> 
            </tbody>
        </table>
    </div>
    <button onclick="drawer()" class="btn btn-dark">データ</button>
    <header class = "d-flex align-items-center flex-column">
        <span class="badge bg-secondary latestPlaceHolder ">ミルク : 最終更新</span>
        <h6 id = "milkLatest">
            <% if (data.find((v) => v.what == 'ミルク')) { %>
                <% let milkIndex = 0 %>
                <% for (let i = 0; i < data.length; i++) { %>
                    <% if (data[i].what == 'ミルク') { %>
                        <% milkIndex = i %>
                    <% } %>
                <% } %>
                <%= `${data[milkIndex].when} - ${data[milkIndex].who} (${data[milkIndex].portion}ml) 🍼` %>
            <% } else { %>
                まだデータがありません
            <% } %>
        </h6>
        <p class = "badge bg-secondary latestPlaceHolder">オムツ : 最終更新</p>
        <h6 id = "diaperLatest">
            <% if (data.find((v) => v.what == 'オムツ')) { %>
                <% let diaperIndex = 0 %>
                <% for (let i = 0; i < data.length; i++) { %>
                    <% if (data[i].what == 'オムツ') { %>
                        <% diaperIndex = i%>
                    <% } %>
                <% } %>
                <%= `${data[diaperIndex].when} - ${data[diaperIndex].who} 🧷` %>
            <% } else { %>
                まだデータがありません
            <% } %>
        </h6>
    </header>
    <main>
        <form action = "/api" method = "POST"  onsubmit="return check(this)">
            <div class = "input-group mb-3">
                <input type = "submit" class = "btn btn-primary actionBtns" name = "what" value = "ミルク" >
                <input id = "milkPortion" type = "number" value = "10" step="5" name = "portion">
            </div>
            <input type= "submit" class = "btn btn-secondary actionBtns" name = "what" value="オムツ">
            <div>
                <select class="custom-select" id="form-select" name = "who">
                    <option value="Sho" name = "Sho">Sho</option>
                    <option value="Non" name = "Non">Non</option>
                </select>
            </div>
        </form>
    </main>
    
    <script>

        let actionBtns = document.getElementsByClassName('actionBtns');
        let pressedBtn;

        for (let i = 0; i < actionBtns.length; i++){
            actionBtns[i].addEventListener('click',function(e){
                pressedBtn = e.target.value
            },false)
        }


        function drawer(){
            let drawerTarget = document.getElementsByClassName('drawer')[0];

            drawerTarget.classList.toggle('on')
        }


        function check(e){

            let whoTarget = document.getElementById('form-select')
            let whoIndex = whoTarget.selectedIndex
            let who = whoTarget[whoIndex].value

            let portion = document.getElementById('milkPortion');
            let question;

            if (pressedBtn == 'ミルク'){
                question = `${who}さんが${pressedBtn}を${portion.value}mlあげました`;
            }
            else if (pressedBtn == 'オムツ'){
                question = `${who}さんが${pressedBtn}を交換しました`;
            }

            let answer = confirm(question);

            if (answer == false){ 
                return false
            }
            else {
                return true
            }
        }

    </script>
    <style>

        /*body {
            background: linear-gradient(#5696E3, #5D50E1);
            background-repeat: no-repeat;
        }*/

        .drawer {
            position: absolute;
            top:0;
            left:-100%;
            background-color: #FFF;
            transition-duration: 0.5s;
            height:100%;
            width:100%;
            margin:0;
            z-index: 100;
        }

        .drawer.on{
            transition-duration: 0.5s;
            left:0%;
        }
    </style>
</body>
</html>